/* styles.css o cualquier archivo CSS global que estés utilizando */

.titulo-banner {
	color: #f7f7f7; /* Color del texto */
	font-size: 6rem; /* Tamaño de la fuente */
	font-weight: bold; /* Negrita */
	text-transform: uppercase; /* Transformar a mayúsculas */
	text-shadow: 2px 12px 8px rgba(0, 0, 0, 0.7); /* Sombra para resaltar el texto */
	letter-spacing: 2px; /* Espaciado entre letras */
	line-height: 1.2; /* Espaciado entre líneas */
	padding: 0.5rem; /* Espaciado interno alrededor del texto */
	z-index: 2; /* Asegura que el texto esté encima de la capa opaca */
}

.color-menu h1 {
	color: #ffcc00;
}
/* .navbar-border {
	position: sticky;
	top: 60px; 
	z-index: 1020; 
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #d52b1e, #ffcc00, #007a33);
} */

.fa-bars {
	color: white;
	font-size: 35px;
}
.navbar-border {
	position: fixed;
	left: 0;
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #d52b1e, #ffcc00, #007a33);
	z-index: 999;
}
.borderline {
	width: 100%;
	height: 5px;
	background: linear-gradient(to right, #d52b1e, #ffcc00, #007a33);
	margin-bottom: 15px;
}
.color-menu {
	background-color: #003366; /* Azul oscuro o el color que prefieras */
	padding: 10px 0;
}

.color-menu .nav-link {
	color: white !important; /* Letras en blanco */
	font-weight: bold;
	transition: color 0.3s ease-in-out;
}

.color-menu .nav-link:hover {
	color: #ffcc00 !important; /* Amarillo al pasar el mouse */
}

.color-menu .navbar-toggler {
	border-color: white; /* Bordes blancos en el botón del menú móvil */
}

.color-menu .navbar-toggler-icon {
	background-color: white; /* Ícono del menú en blanco */
}

.navbar-toggler {
	border: none !important; /* Elimina el borde si no quieres que se vea */
}

.navbar-toggler-icon {
	filter: invert(1); /* Hace que el ícono sea blanco en fondos oscuros */
}
.navbar-toggler-icon {
	filter: invert(0); /* Mantiene el ícono oscuro */
}

.form-control {
	color: #000;
}
.form-control,
.quill {
	border: 1px solid #303135;
}

ol {
	list-style-type: disc;
}

.fondo {
	background-image: url("img/home.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.card {
	border-radius: 10px; /* Bordes redondeados */
	backdrop-filter: blur(10px); /* Efecto de desenfoque */
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.5); /* Sombra para dar profundidad */
}

.card-title {
	color: #ffffff; /* Asegura que el título sea blanco */
}

.card-footer {
	background: rgba(0, 0, 0, 0.5); /* Un footer ligeramente más oscuro */
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	color: white;
}

.btn-primary {
	background-color: #007bff; /* Azul de Bootstrap */
	border: none;
}

.btn-primary:hover {
	background-color: #0056b3;
}
#wrapper #content-wrapper {
	background-color: #cccccc8c;
}
.colorfondo_formulario {
	background-color: #e9ebec;
}
.card-header h3 {
	color: white;
}

/* Estilo para redimensionar imágenes */
.ql-snow .ql-editor img {
	max-width: 100%;
	height: 200px;
	margin-top: 5px;
}
.color-top-bar {
	background-color: #011f26;

	color: white;
}

@media (min-width: 1200px) {
	.container,
	.container-lg,
	.container-md,
	.container-sm,
	.container-xl {
		max-width: 90%; /* Se adapta completamente al ancho disponible */
	}
}
/*estilos de agenda*/
/* Estilos para la agenda de eventos */
.agenda-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.agenda-item {
	border-radius: 8px;
	overflow: hidden;
}

.card-header {
	background-color: #007bff;
	color: white;
	text-align: center;
}
.card-header h5 {
	color: white;
}
.bg-info {
	--bs-bg-opacity: 1;
	background-color: rgb(70 70 70) !important;
}
.card-body {
	padding: 20px;
	background-color: #f9f9f9;
}

.event-details {
	font-size: 1.1em;
	line-height: 1.6;
	margin-bottom: 15px;
}

.event-date {
	margin-bottom: 8px;
	font-weight: bold;
	color: #555;
}

.event-poster img {
	max-width: 100%;
	border-radius: 8px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card-footer {
	background-color: #e9ecef;
	padding: 10px;
	text-align: center;
}

h3 {
	font-size: 1.8em;
	margin-bottom: 20px;
}

h2 {
	font-size: 2.2em;
	margin-bottom: 30px;
	color: #333;
}

.text-center {
	text-align: center;
}
.fondo_eventos {
	background-image: url("/img/home.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	width: 100vw;
	position: relative;
}

.titulo_evento h2,
.titulo_evento h4 {
	color: rgb(255, 204, 1); /* Color de texto dorado */
	text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6); /* Sombra en el texto */
}

.titulo_evento h2 {
	font-size: 2.5rem; /* Título más grande */
	font-weight: bold;
}

.titulo_evento h4 {
	font-size: 1.8rem; /* Título secundario con un tamaño más pequeño */
	font-weight: normal;
}

.fondo_eventos::before {
	content: "";
	position: absolute;
	inset: 0;
	background-color: rgba(34, 34, 34, 0.1); /* negro con 50% de opacidad */
	z-index: 1;
}

.fondo_eventos > * {
	position: relative;
	z-index: 2;
}
